.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*table*/
#cate_area {
  width: 1300px;
  float: right;
  margin-top: 50px;
}

.cate_board {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 270px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody > tr:hover {
  background-color: #9CE3B3FF;
}

p {
  padding-left: 5px;
  background-color: #2BAE66;
  color: white;
  width: auto;
}
